# Dependencies
node_modules/
.pnp
.pnp.js

# Production & Build outputs
dist/
dist-ssr/
dev-dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Sensitive Documents, PRD & Backend GAS files
Code.gs
backend-gas/
Dokumentasi_SI_ABSEN.md
PRD_SI_ABSEN.md
SI_ABSEN_OBSIDIAN_MASTER_CONTEXT.md
docs/
